

<div id="page">
<%= @request.state if @request%>
<div id="logo"><%= image_tag('logo.png', :width => 460, :height => 250)%></div>
<div class="topsection">
    <div id="sideleft">
	<h1 class="header1" id="listenbtn">Listen and request music.</h1>
	<h1 class="header1" id="interactbtn" style="margin-top:160px;">Interact with the radio host</h1>
	<h1 class="header1" id="winbtn" style="margin-top: 320px;">Win points and prizes while you do it!</h1>
	<%= image_tag('radio_waves.png', :id => 'radiowaves')%>
	<%= image_tag('radio_tower2.png', :width => 425, :height => 570, :id => 'radioimage')%>
	<div id="progress" style="display:none"><img src="assets/launch-images/progress/50.png" alt="20%" /></div>
	<div id="countdown" style="display:none" class=""></div>
    </div><!-- end sideleft -->

    <div id="middle">
	<div id="feedback">
	    <div class="signuploader"></div>
	    <div class="signupbar"></div>
	    <div class="signup_error"><img src="assets/launch-images/error_email.png" alt="Incorrect email address" border="0" /></div>
	</div><!-- end #feedback -->
    </div><!-- end #middle -->
    <div id="sideright">
	<div id="content"> <!--Interchangable descriptions-->
	  <div id="description"><!--Interchangable descriptions HIDDEN-->
	    <h1>Communication is beautiful.</h1>
	    <p>We know people like to listen to the radio whether AM talk for FM music,
		but we also know people love to voice their opinions or request music. Realizing
		the large communication gap between a radio show host and his listeners
		we've decided to create a way to bring people closer to the host and others
		interested in the same talk/music shows. Be one of the first members on our site
		when we launch and sign up below!
	    </p> 
	  </div> 
	  <div id="description2" style="display:none">
	    <h1>Listen and Request.</h1>
	    <p><b>Yeah thats right</b> request away. Let the host know what you'd like to hear, dont be shy.
		We're going to make it a sinch for you to request music, we'll then take those requests,
		mix them into a culver of cyber stew with a dash of secret sauce and feed it to the show host you're listening to.
		Now being a little more serious, your requests will give the host the ability to personalize the days music based
		on the requests he gets, so <b>the more you request the better the music will get!</b>
	    </p> 
	  </div>
	  <div id="description3" style="display:none">
	    <h1>Interaction.</h1>
	    <p><b>So, I can chat with members of the show without calling or texting silly numbers? Yes!</b>
		Not only can you chat with members of the show, you can chat with other like minded listening members. We have a slew 
		of other features that only beta members will have the privilage of using. <b>Sign up below and become part of the show!</b>
	    </p> 
	  </div>
	  <div id="description4" style="display:none">
	    <h1>Earn Points!</h1>
	    <p><b>Points? Like, being charged points on a mortgage type points?</b> Um No...
		Like, earn points by participating in the show through our interaction features type points.
		Without going into too much deatil because we know you like suprises, you can <b>use points to buy
		and download music, get free concert tickets, or win a paid for get away vacation. You can also win
		any special prizes through contests show hosts run through our site.</b> 
	    </p> 
	  </div> <!--end descriptions-->
	</div><!-- end #content -->
	<div id="newsletter" style="text-align: center;">
	  <span id="startbtn">Click Here</span>
	  <span id="sform" style="display:none">
	    <%= form_for(Subscriber.new, :method => :post, :remote => true) do |f| %>
	      <%= f.text_field :email, :id => 'email', :class => 'focusField' %>
	      <%= f.text_field :favstation, :id => 'favstation', :class => 'focusField' %>
	      <%= f.submit "", :class => 'submit'%>
	    <% end %>
	  </span>

	</div><!-- end #newsletter -->
	<div id="tweet">
	    <span>40 minutes ago</span>Flesh Frolic! <a href="http://t.co/qOiNHbb">http://t.co/qOiNHbb</a> 
	</div><!-- end #tweet -->
    </div><!-- end #sideright -->
</div><!-- end .topsection -->
	<div id="footer">
		<ul class="address">

			<li class="email contactusicon"><a href="">info@fmbuzz.com</a></li>
<!--			<li class="phone">(630) 448-2223</li>-->
			<li class="web"><a href="http://fmbuzz.com">http://www.fmbuzz.com</a></li>
		</ul><!-- end address -->
		<ul class="social">
<!--			<li class="rss"><a class="tooltip" title="rss" href="http://zeglin.co.uk/rss"></a></li>
			<li class="flickr"><a class="tooltip" title="flickr" href="http://flickr.com"></a></li>
			<li class="vimeo"><a class="tooltip" title="vimeo" href="http://vimeo.com"></a></li>
			<li class="google"><a class="tooltip" title="google" href=""></a></li>
			<li class="youtube"><a class="tooltip" title="youtube" href="http://youtube.com"></a></li>-->
<!--			<li class="linkedin"><a class="tooltip" title="linkedin" href="http://linkedin.com"></a></li>-->
			<li class="twitter"><a class="tooltip" target="_blank" title="twitter" href="http://twitter.com/rdiobuzz"></a></li>
			<li class="facebook"><a class="tooltip" target="_blank" title="facebook" href="https://www.facebook.com/FMBuzz"></a></li>
		</ul><!-- end #social -->
	</div><!-- end footer -->

</div><!-- end #page -->
<!-- Below is the hidden contact form overlay code -->
<div style='display:none'>
	<div id="contactus" style='padding:10px; background:#fff;'>
	<p class="intro">Hi there! Please use the contact form below if you have any questions related to this website. Alternatively you can send us an email to <a href="mailto:info@fmbuzz.com">info@fmbuzz.com</a>.</p>
		<div class="loader"></div>
		<div class="bar"></div>
		<form action="/contact" class="contactUsForm" name="cform" method="post">
			<ul id="contactus_fields">
				<li><label for="name">Your name:</label><span class="name-missing">Please enter your name</span></li>
				<li class="border"><input id="name" type="text" value="" name="name" /></li>
				<li><label for="e-mail">Your e-mail:</label><span class="email-missing">Please enter a valid e-mail</span></li>
				<li class="border"><input id="e-mail" type="text" value="" name="email" /></li>
				<li><label for="message">Message:</label><span class="message-missing">Please enter your message</span></li>

				<li><textarea id="message" rows="" cols="" name="message"></textarea></li>
				<li><input class="submit" type="submit" name="submit" value="" onfocus="this.blur()"  /></li>
			</ul><!-- end #contactus_fields -->
		</form>
	</div><!-- end #contactus -->
</div><!-- end of hidden contact form overlay -->
