<%= subscribe_to "/show/chats" %>
    <div id="middle-wrapper" class="span17">
      <div id="row-content" class="row border">
	<div id="features-column" class="span4" style="position:relative;">
	<div class="stream-link">  
	  <h5><%= @show.station.upcase || "" %> <%= @show.modulation%></h5>
	    <p>Add streaming radio widget here, auto stream when page opened</p>
	</div>
	
	<div id="aboutshow" class="bottom">
	  <span>
	    <h6>About the show</h6>
	    <p><%= @show.about.truncate(240) if @show.about %></p>
	  </span>
	</div>
	</div>
	<div id="right-content" class="span10">
	  <h1><%= @show.name.titleize %></h1>
	  <span id="chatboxspan">
	    <div id="chatbox" class="border">
	      <div id="chatwall"></div>
	      <div id="new_message_container" class="bottom">
		<% if user_signed_in? %>
		  <%= form_for([@show, @message], :remote => true) do |f|%>
		    <%= f.text_field :msg %>
		    <%= f.hidden_field :show_id, :value => @show.id %>
		    <%= f.hidden_field :author, :value => current_user.name %>
		    <%= f.submit "send"%>
		  <% end %>
		<% end %>
	      </div>
	    </div>
	  </span>
	  <span id="requestboxspan">
	    <div id="requestbox" class="border">
	      <h3>All available songs</h3>
	      <div class="row">
		<div class="span6">
		  <ul class="unstyled">
		    <% @show.playlist_artists.uniq.sort!{|a1, a2| a1.name<=>a2.name}.each do |artist| %>
		      <li><%= link_to artist.name, show_songlist_path(:artist_id => artist.id, :show_id => @show.id), :remote => true%></li>
		    <% end %>
		  </ul>
		</div>
		<div class="span6" id="songlist" style="overflow:auto;">
		  <!--Selected Artists Songs visible here-->
		</div>
	      </div>
	    </div>
	  </span>

<!--	  <span id="leaderboardspan">
	  THIS AND THE BUTTON HAS BEEN DISABLED UNTIL LEADERBOARD FUNCTIONALITY IS COMPLETE
	    <%= render :partial => 'leaderboard', :locals => {:show => @show} %>
	  </span>-->

	  <span id="interactionboxspan"> <!--DISPLAYS USER INTERACTION STATS WITH CURRENT SHOW-->
	    <%= render :partial => 'usershowengagement', :locals => {:show => @show}%>
	  </span>

	  <div id="options-row" class="row ">
<!--	      <h4 class="span4 border lb">Leader Board</h4>-->
	      <% if user_signed_in? %>
		<h4 class="span4 border usr">Your Stats</h4>
	      <% end %>

	      <h4 class="span4 border rm">Request Music</h4>

	      <h4 class="span4 border cr activated">Chat Room</h4>
	
	  </div>
	</div>
      <div id="bottom-filler" class="span17">
	<div id="bottomrow" class="row">
	  <div id="questionbox" class="border">

	  <div class="transparency"></div> <!--Added Transparency to window-->
	
	    <div id="questionlist">
	      <% @questions.each do |question| %>
		<%= render :partial => 'questions/question', :locals => {:question => question} %>
	      <% end %>
	    </div>
	    <div id="new_question_container" class="bottom">
	      <% if user_signed_in? %>
		<hr />
		<%= form_for([@show, @question], :remote => true) do |q| %>
		  <%= q.text_field :q %>
		  <%= q.hidden_field :show_id, :value => @show.id%>
		  <%= q.submit "Submit"%>
		<% end %>
	      <% end %>
	    </div>

	  </div>
	</div>

      </div>

      </div>
    </div>

  <div id="home-logo" class="sticky"></div>
  <%= render :partial => 'partials/footer'%>

<!--SLIDING DIVS WERE WRAPPED IN SPAN'S BECAUSE OF ISSUES WHERE SIMPLY CALLING
FOR #RIGHT-CONTENT>DIV WOULD ALSO REMOVE THE OPTIONS-ROW WHICH HAS
THE NAV BUTTONS. REMOVING OPTIONS ROW FROM RIGHT-CONTENT SEEMED
TO MESS UP THE LAYOUT, TIME WAS SAVED BY KEEPING IT THIS WAY.-->
<script>
  $(document).ready(function() {
    jQuery('.sticky').stickyfloat({stickToBottom: true, duration: 100})
  });
  $(".cr").click(function () {
    if($('#chatbox').is(':hidden')) {
      $( "#right-content>span:visible" ).hide("slide", { direction: "up" }, 400, function() {
	$("#chatboxspan").show("slide", { direction: "up" }, 400);
      });
	$('#options-row>h4:not(this)').removeClass("activated");
	$(this).addClass("activated");
    }
  });
  $(".rm").click(function () {
    if($('#requestbox').is(':hidden')) {
      $( "#right-content>span:visible" ).hide("slide", { direction: "up" }, 400, function() {
	$("#requestboxspan").show("slide", { direction: "up" }, 400);
      });
      $('#options-row>h4:not(this)').removeClass("activated");
      $(this).addClass("activated");
    }
  });
  $(".lb").click(function () {
    if($('#leaderboard').is(':hidden')) {
      $( "#right-content>span:visible" ).hide("slide", { direction: "up" }, 400, function() {
	$("#leaderboardspan").show("slide", { direction: "up" }, 400);
      });
      $('#options-row>h4:not(this)').removeClass("activated");
      $(this).addClass("activated");
    }
  });
  $(".usr").click(function () {
    if($('#interactionbox').is(':hidden')) {
      $( "#right-content>span:visible" ).hide("slide", { direction: "up" }, 400, function() {
	$("#interactionboxspan").show("slide", { direction: "up" }, 400);
      });
      $('#options-row>h4:not(this)').removeClass("activated");
      $(this).addClass("activated");
    }
  });
 $(document).ready(function() {
 $("#question_q").Watermark("Ask your question");
});
</script>