<!DOCTYPE html>
<html>
<head>
<!--  <link rel="shortcut icon" href="/images/favicon.ico" />-->
  <title><%= @city.city if @city%> Radio</title>
  <%= stylesheet_link_tag 'application', 'home', 'shows' %>
  <%= javascript_include_tag  'application' %>
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25577355-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(function() {
    $('#flash').delay(500).fadeIn('normal', function() {
	$(this).delay(2500).fadeOut('slow');
    });
  });
</script>

<style>
  #flash {
    position:absolute;
    font-weight: 900;
    font-size: 18px;
    z-index:1;
    padding: 5px;
    color:#FFF;
    background-color: green;
    text-align:center;
    margin:0 auto;
    top: 40px;
    width: 100%;
    opacity: .8;
}
</style> 

    <div class="topbar" >
      <div class="topbar-inner">
        <div class="container-fluid">
          <%= link_to "Home", root_path(:city => @city.city), :class => 'brand'  if @city %>
	  <%= link_to "Home", root_path, :class => 'brand' unless @city %>
	  <ul class="nav" data-dropdown="dropdown">
	    <li class="dropdown">	
	      <% if @city %>
	      <%= link_to @city.city, '#', :class => 'dropdown-toggle', :city => @city.city %></a>
	      <% else %>
		<a class="dropdown-toggle" href="#">Select a City</a>
	      <% end %>
	      <ul class="dropdown-menu">
		<% if @locations %>
		  <% @locations.each do |l| %>
		    <li><%= link_to l.city, :controller => 'home', :action => 'cityindex', :city => l.city %></li>
		    <li class="divider"></li>
		  <% end %>
		<% end %>
	      </ul>
	    </li>
          </ul>
	  <% if current_user || current_show %>
	    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete , :class => 'btn red pull-right', :style => 'margin-top: 5px;'%>
	    <p class="pull-right" style="margin-right:70px;">Logged in as <%= link_to current_user.name, '#' if current_user %> <%= link_to current_show.host, '#' if current_show %></p>
	    <%= link_to "Dashboard", show_dashboard_path(current_show), :class => 'btn green pull-right', :style => 'margin-top: 5px;' if current_show %>
	  <% else %>
	    <p class="pull-right"><%= link_to "Sign up!", new_user_registration_path, :style => 'margin-right:30px;' %> <strong style='margin-right:30px;'>or</strong> <%= link_to "Sign In", new_user_session_path, :class => 'btn green'%></p>
	  <%end%>
        </div>
      </div>
    </div>
    <%= "<p id='flash' style='display:none;'>#{flash[:notice]}</p>".html_safe if flash[:notice]%>
</head>
<body>
  <%= yield %>
</body>
</html>
